version: '3'
services: 
    db:
        image: postgres:9.6
        restart: always
        environment: 
            POSTGRES_PASSWORD: hellothere
        volumes: 
            - ./data/db:/var/lib/postgresql/data
    app:
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        volumes: 
            - .:/code
        ports: 
            - "8000:8000"
        depends_on: 
            - db