version: '3'
services: 
    db:
        image: postgres:9.6
        restart: always
        environment: 
            POSTGRES_PASSWORD: hellothere
        volumes: 
            - ./data/db:/var/lib/postgresql/data
        ports: 
            - "9432:5432"
    app:
        build: .
        volumes: 
            - .:/code
        ports: 
            - "8000:8000"
        depends_on: 
            - db