<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Flickr Search</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Flickr Search</a>
        </div>
    </nav>
    <main class="container">
        <form action="{% url 'photos' %}" method="GET" class="row g-3 mt-3">
            {% csrf_token %}
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Latitude" name="latitude">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Longitude" name="longitude">
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                      Destinations
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">London</a></li>
                      <li><a class="dropdown-item" href="#">New York</a></li>
                      <li><a class="dropdown-item" href="#">Islamabad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-secondary mb-3">Submit</button>
            </div>
        </form>
        {% if to.photos %}
        <section id="search-results" class="mt-3 mb-3 d-flex flex-wrap justify-content-center">
          {% for pic in to.photos %}
            <div class="card m-2" style="width: 18rem;">
                <img src="https://live.staticflickr.com/{{pic.server}}/{{pic.id}}_{{pic.secret}}_t.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{pic.name}}</h5>
                </div>
              </div>
          {% endfor %}
        </section>
        {% endif %}
        {% if to.pages > 1%}
        <nav class="d-flex justify-content-center">
          <ul class="pagination">
            {% if to.prev %}
            <li class="page-item"><a class="page-link" href="{% url 'photos' %}?latitude={{to.lat}}&longitude={{to.lon}}&page={{to.prev}}">Previous</a></li>
            {% endif %}
            {% for i in '1234'|make_list %}
            <li class="page-item"><a class="page-link" href="{% url 'photos' %}?latitude={{to.lat}}&longitude={{to.lon}}&page={{to.page|add:i}}">{{forloop.counter|add:"1"}}</a></li>
            {% endfor %}
            {% if to.page < to.pages %}
            <li class="page-item"><a class="page-link" href="{% url 'photos' %}?latitude={{to.lat}}&longitude={{to.lon}}&page={{to.page|add:'1'}}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>